.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #333;
  box-shadow: 0 0 10px 5px #333;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  animation: slideDown 1s ease forwards 1s;
}

.datetime {
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.hamburger-icon {
  color: #f1f1f1;
  width: 30px;
  height: 30px;
}

.menu {
  position: relative;
  padding: 10px;
}

.menu-boxes {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #555;
  color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-box {
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu-box:hover {
  background-color: #e1e1e1;
  color: #333;
  cursor: pointer;
}

.chat-area {
  flex: 1;
  overflow-y: auto;
  width: 100vw;
  max-height: 92vh;
  margin: 2.55rem 0 3.6rem 0;
  white-space: pre-wrap;
}

.user-message,
.bot-message {
  background-color: #f3f9fa;
  color: #333;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 90%;
  width: fit-content;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.user-message {
  margin-left: 10px;
  align-self: flex-start;
}

.bot-message {
  margin-right: 10px;
  margin-left: auto;
}

.user-message {
  margin-top: 40px;
}

.bot-message:last-child {
  margin-bottom: 25px;
}

.input-area {
  box-shadow: 0 0 10px 5px #333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #333;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  animation: slideUp 2s ease forwards 2s;
}

.input-text {
  visibility: hidden;
  width: 1vw;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  font-size: 16px;
  margin: 10px;
  background-color: #555;
  color: #ccc;
  margin-right: 92vw;
  animation: inputGrow 2s ease forwards 3.5s;
  
}

.input-text.textarea {
  resize: none;
  min-height: 20px;
  height: 20px;
  max-height: 150px;
}

.submit-button {
  padding: 8px 20px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 13px;
  margin-top: auto;
  font-size: 16px;
  border-radius: 5px;
  transform: translateY(-4000%);
  animation: fallDown 2s ease-in forwards 2.8s;
}

.submit-button:hover {
  opacity: 80%;
}

.submit-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.hamburger-icon:hover {
  opacity: 80%;
  cursor: pointer;
}

.chat-area::-webkit-scrollbar,
.input-text::-webkit-scrollbar {
  width: 10px;
  background-color: #555;
}

.chat-area::-webkit-scrollbar-thumb,
.input-text::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.chat-area::-webkit-scrollbar-thumb:hover,
.input-text::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

@keyframes fallDown {
  0% {
    transform: translateY(-4000%);
  }
  40%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-150%);
  }
  55% {
    transform: translateY(-75%);
  }
  65% {
    transform: translateY(-30%);
  }
  75% {
    transform: translateY(-10%);
  }
  85% {
    transform: translateY(-5%);
  }
  95% {
    transform: translateY(-2%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes inputGrow {
  from {
    visibility: visible;
    width: 1vw;
    margin-right: 92vw;
  }
  to {
    visibility: visible;
    width: 92vw;
    margin-right: 10px;
  }
}

.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 4px;
  margin: 0 4px;
  animation: dot-wave 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dot-wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}